.radio-select {
  width: 100%;
  border: 1px solid #dddddd;
  background: #fff; }
  .radio-select .value {
    border: 1px solid #dddddd; }
  .radio-select.focused .value {
    border-color: #0ca3ff; }
  .radio-select .option-list {
    border: 1px solid #dddddd;
    background: #fff; }
    .radio-select .option-list .option {
      border-bottom: 1px solid #dddddd; }
      .radio-select .option-list .option.highlight {
        background-color: #0ca3ff;
        color: #ffffff; }
