$border-color: #dddddd;
$border-color-focus: #0ca3ff;
$background-color: #ffffff;
$highlight-color: #ffffff;
$highlight-background-color: #0ca3ff;


.radio-select {
  width: 100%;
  border: 1px solid $border-color;
  background: #fff;

  .value {
    border: 1px solid $border-color;
  }

  &.focused .value {
    border-color: $border-color-focus;
  }

  .option-list {
    border: 1px solid $border-color;
    background: #fff;


    .option {
      border-bottom: 1px solid $border-color;

      &.highlight {
        background-color: $highlight-background-color;
        color: $highlight-color;
      }

    }

  }

}